<div class="d-flex align-items-center justify-content-between">
  <h1>Twitter Accounts</h1>

  <%= link_to "Connect to Twitter", "/auth/twitter", method: :post, class: "btn btn-primary" %>
</div>

<%= @twitter_accounts.each do |acc| %>
  <div class="d-flex align-items-center mb-4">
    <div class="me-4">
      <%# acc.image %>
      <%= image_tag acc.image, class: "rounded-circle" %>
      <%= link_to "@#{acc.username}", "https://x.com/#{acc.username}", targer: :_blank %>
    </div>
  </div>
<% end %>
